/* Reset CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/*Header*/

.Header {
  margin: 0;
  height: 210px;
}

.botonContactanos {
  border: transparent;
}

.botonAyuda {
  border: transparent;
}

.divCards {
  width: 275px;
}

/* ItemListContainer */

.divDetalle {
  margin-top: 10rem;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: black;
}

.tituloCardDetail {
  font-size: 2, 5rem;
}

.descripcionCardDetail {
  font-size: 1rem;
}

.precioCardDetail {
  font-size: 2rem;
}

/*NavBar*/

.NavBar h3 {
  color: black;
  margin: 0;
  font-size: 1.5rem;
}

.Categories li {
  display: inline-block;
  margin-right: 10px;
}

.Categories li:last-child {
  margin-right: 0;
}

.Categories a {
  text-decoration: none;
  color: #212529;
}

.Categories a:hover {
  color: #898b0e;
}

.d-flex {
  display: flex;
}

.text-align-webkit-center {
  text-align: -webkit-center;
}

.text-align-left {
  text-align: left;
}
